<%= form_with(model: register, local: true) do |form| %>
  <% if register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
        <% register.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :register_type %>
    <%= form.text_field :register_type %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :register_file %>
    <%= form.file_field :register_file %>
  </div>

  <div class="field">
    <%= form.label :first_reminder %>
    <%= form.datetime_select :first_reminder %>
  </div>

  <div class="field">
    <%= form.label :no_of_reminders %>
    <%= form.number_field :no_of_reminders %>
  </div>

  <div class="field">
    <%= form.label :reminder_period %>
    <%= form.number_field :reminder_period %>
  </div>

  <div class="field">
    <%= form.label :reminder_email %>
    <%= form.text_field :reminder_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
