<p id="notice"><%= notice %></p>

<p>
  <strong>Register type:</strong>
  <%= @register.register_type %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @register.deadline %>
</p>

<p>
  <strong>Download register file:</strong>
  <%= link_to "Download", @register.register_file, download: '' %>
</p>

<p>
  <strong>First reminder:</strong>
  <%= @register.first_reminder %>
</p>

<p>
  <strong>No of reminders:</strong>
  <%= @register.no_of_reminders %>
</p>

<p>
  <strong>Reminder period:</strong>
  <%= @register.reminder_period %>
</p>

<p>
  <strong>Reminder email:</strong>
  <%= @register.reminder_email %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
