<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Employee code</th>
      <th>Flag</th>
      <th>Designation</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Qualification</th>
      <th>Experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.employee_code %></td>
        <td><%= employee.flag %></td>
        <td><%= employee.designation %></td>
        <td><%= employee.email %></td>
        <td><%= employee.phone_number %></td>
        <td><%= employee.address %></td>
        <td><%= employee.qualification %></td>
        <td><%= employee.experience %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %><br/>
<%=link_to "Home", root_path %>