<p id="notice"><%= notice %></p>

<h1>Units</h1>

<table>
  <thead>
    <tr>
      <th>Oc</th>
      <th>Ministry</th>
      <th>Office name</th>
      <th>Office acronym</th>
      <th>Category</th>
      <th>Audit section</th>
      <th>Type</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Fax</th>
      <th>Remarks</th>
      <th>PFMS</th>
      <th>Gen mis</th>
      <th>mis freq</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.oc %></td>
        <td><%= unit.ministry %></td>
        <td><%= unit.office_name %></td>
        <td><%= unit.office_acronym %></td>
        <td><%= unit.category %></td>
        <td><%= unit.audit_section %></td>
        <td><%= unit.utyp %></td>
        <td><%= unit.address %></td>
        <td><%= unit.phone %></td>
        <td><%= unit.email %></td>
        <td><%= unit.fax %></td>
        <td><%= unit.remarks %></td>
        <td><%= unit.pfms_implemented %></td>
        <td><%= unit.generates_misreports %></td>
        <td><%= unit.mis_report_frequency %></td>
        <td><%= link_to 'Show', unit %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %><br/><br/>
<%=link_to "Home", root_path %>
