<p id="notice"><%= notice %></p>

<p>
  <strong>Oc:</strong>
  <%= @unit.oc %>
</p>

<p>
  <strong>Ministry:</strong>
  <%= @unit.ministry %>
</p>

<p>
  <strong>Office name:</strong>
  <%= @unit.office_name %>
</p>

<p>
  <strong>Office acronym:</strong>
  <%= @unit.office_acronym %>
</p>

<p>
  <strong>Category:</strong>
  <%= @unit.category %>
</p>

<p>
  <strong>Audit section:</strong>
  <%= @unit.audit_section %>
</p>

<p>
  <strong>Type:</strong>
  <%= @unit.utyp %>
</p>

<p>
  <strong>Address:</strong>
  <%= @unit.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @unit.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @unit.email %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @unit.fax %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @unit.remarks %>
</p>

<p>
  <strong>PFMS:</strong>
  <%= @unit.pfms_implemented %>
</p>

<p>
  <strong>Generates MIS:</strong>
  <%= @unit.generates_misreports %>
</p>

<p>
  <strong>mis frequency:</strong>
  <%= @unit.mis_report_frequency %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
