<%= form_with(model: circular, local: true) do |form| %>
  <% if circular.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(circular.errors.count, "error") %> prohibited this circular from being saved:</h2>

      <ul>
        <% circular.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :circular_type %>
    <%= form.text_field :circular_type %>
  </div>

  <div class="field">
    <%= form.label :from %>
    <%= form.text_area :from %>
  </div>

  <div class="field">
    <%= form.label :keywords %>
    <%= form.text_area :keywords %>
  </div>

  <div class="field">
    <%= form.label :circular_file %>
    <%= form.file_field :circular_file %>
  </div>

  <div class="field">
    <%= form.label :receipt_date %>
    <%= form.datetime_select :receipt_date %>
  </div>

  <div class="field">
    <%= form.label :broadcast_date %>
    <%= form.datetime_select :broadcast_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
