<p id="notice"><%= notice %></p>

<p>
  <strong>Circular type:</strong>
  <%= @circular.circular_type %>
</p>

<p>
  <strong>From:</strong>
  <%= @circular.from %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @circular.keywords %>
</p>

<p>
  <strong>Download circular file:</strong>
  <%= link_to "Download", @circular.circular_file, download: '' %>
</p>

<p>
  <strong>Receipt date:</strong>
  <%= @circular.receipt_date %>
</p>

<p>
  <strong>Broadcast date:</strong>
  <%= @circular.broadcast_date %>
</p>

<%= link_to 'Edit', edit_circular_path(@circular) %> |
<%= link_to 'Back', circulars_path %>
